<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">	
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<title>Insert title here</title>
</head>
<body>

   <div class="container">

      <div class="masthead">
        <h2 align="center">Mediinf</h2>
        <nav>
          <ul class="nav nav-justified">
            <li class="active"><a href="/enfermedades/listauser" style="margin-right: 10px;">Inicio</a></li>
            <li><a href="/userForm" style="margin-right: 10px;">Cuenta</a></li>
            <li><a href="/enfermedades/lista" style="margin-right: 10px;">Enfermedades</a></li>
            <li><a href="/userForm" style="margin-right: 10px;">Usuarios</a></li>
          </ul>
        </nav>
      </div>
      
      <table id="userList" class="table table-bordered table-hover table-striped">
      <thead class="thead-light">
      <th style="border-right-width: 1px; padding-right: 15px; padding-left: 15px;">Medicamento Generico</th>
      <th></th>
      <th style="border-right-width: 1px; padding-right: 15px; padding-left: 15px;">Medicamento de Laboratorio</th>
      <th></th>
      <th style="border-right-width: 1px; padding-right: 15px; padding-left: 15px;">Medicamento Natural</th>
      <th></th><br><br>
      
      </thead>
      <tbody>
      
     
        <h3><td th:text="${enfermedad.medicamento_g}"></td></h3>
        <th><img th:src="@{/img/medicamentos/} + ${enfermedad.medi_g}" style="margin-right: 25px;" width="250" height="250"/></th>
    
        <h3><td th:text="${enfermedad.medicamento_l}"></td></h3>
        <th><img th:src="@{/img/medicamentos/} + ${enfermedad.medi_l}" style="margin-right: 25px;" width="250" height="250"/></th>

        <h3><td th:text="${enfermedad.medicamento_n}"></td></h3>
        <th><img th:src="@{/img/medicamentos/} + ${enfermedad.medi_n}" style="margin-right: 25px;" width="250" height="250"/></th>
          
    
      </tbody>
      </table>
      </div>
    
</body>
</html>